.slider-content {
  width: 100%;
  margin-top: 50px;
}

.slider-content .home-slider {
  position: relative;
}

.slider-content .home-slider .slider-body {
  width: 100%;
  height: 650px;
  position: relative;
}

.slider-content .home-slider .slider-body .slider-body-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00FF00;
}

.slider-content .home-slider .slider-body .slider-body-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slider-content .home-slider .slider-body .slider-body-content {
  margin-top: 250px;
}

.slider-content .home-slider .slider-body .slider-body-content h5 {
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  opacity: .9;
  line-height: 1.5;
  padding-bottom: 30px;
  font-weight: 600;
}

.slider-content .home-slider .slider-body .slider-body-content p {
  margin-bottom: 25px;
  font-weight: 600;
  color: #fff;
  padding-left: 20px;
  white-space: normal;
  opacity: .8;
  font-size: 14px;
  line-height: 30px;
}

.slider-content .home-slider .owl-dots {
  position: absolute;
  top: 50%;
  left: 40px;
}

.slider-content .home-slider .owl-dots button {
  transition: all .3s ease-in-out;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  outline: 0;
  display: block !important;
  margin-top: 15px;
}

.slider-content .home-slider .owl-dots button.active span, .slider-content .home-slider .owl-dots button:hover span {
  background-color: limegreen !important;
}

.slider-content .home-slider .owl-dots button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.slider-content .slider-info {
  margin-top: -40px;
  position: relative;
  z-index: 1;
}

.slider-content .slider-info .info {
  color: #fff;
  font-size: 13px;
  opacity: .8;
}

.slider-content .slider-info .info span {
  color: limegreen;
}

.slider-content .slider-info .info .info-social {
  display: flex;
  margin-top: -20px;
  margin-left: 35px;
}

.slider-content .slider-info .info .info-social li {
  width: 20px;
}

.slider-content .slider-info .info .info-social li:first-child a {
  color: limegreen;
}

.slider-content .slider-info .info .info-social li:hover a {
  color: limegreen;
}

.slider-content .slider-info .info .info-social li a {
  color: #fff;
  display: block;
}

.home-about {
  padding: 60px 0;
  background: #fff;
}

.home-about .about-body {
  display: flex;
}

.home-about .about-body .about-body-icon {
  height: 40px;
  width: 110px;
  border-radius: 50%;
  border: 1px solid limegreen;
  color: limegreen;
  text-align: center;
  line-height: 37px;
  font-size: 16px;
  transition: all .3s ease-in-out;
}

.home-about .about-body .about-body-icon:hover {
  background: limegreen;
  color: #fff;
}

.home-about .about-body .about-body-content {
  margin-left: 20px;
}

.home-about .about-body .about-body-content h3 {
  font-size: 14px;
}

.home-about .about-body .about-body-content p {
  font-size: 13px;
  opacity: .8;
}

.home-about .about-body .about-body-content a {
  color: #000;
  font-size: 13px;
}

.home-about .about-body .about-body-content a:first-child, .home-about .about-body .about-body-content a:hover {
  color: limegreen;
}

.feature {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background: #f5f7f6;
}

.feature .feature-body h3 {
  padding: 40px 0;
  font-size: 16px;
  opacity: .9;
}

.feature .feature-body h3 span {
  color: limegreen;
}

.feature .feature-body .feature-container {
  margin-top: 40px;
}

.feature .feature-body .feature-container .feature-container-filter {
  position: relative;
}

.feature .feature-body .feature-container .feature-container-filter::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 21%;
  width: 60%;
  height: 1px;
  background: limegreen;
}

.feature .feature-body .feature-container .feature-container-filter button {
  border: 1px solid limegreen;
  border-radius: 20px;
  outline: 0;
  background: #fff;
  color: limegreen;
  padding: 5px 10px;
  width: 100px;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: all .3s ease-in-out;
}

.feature .feature-body .feature-container .feature-container-filter button.mixitup-control-active, .feature .feature-body .feature-container .feature-container-filter button:hover {
  background: limegreen;
  color: #fff;
}

.feature .feature-body .feature-container .feature-container-body {
  margin-top: 60px;
}

.feature .feature-body .feature-container .feature-container-body .house-body {
  position: relative;
  box-shadow: 2px 21px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-top: 40px;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image {
  position: relative;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image:hover .owl-nav {
  opacity: 1;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image .owl-item {
  height: 170px;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image .owl-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image .owl-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image .owl-nav {
  transition: all .2s ease-in-out;
  position: absolute;
  width: 100%;
  top: 50%;
  opacity: 0;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image .owl-nav button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  outline: 0;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image .owl-nav button span {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image .owl-nav button:first-child {
  left: 10px;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-image .owl-nav button:last-child {
  right: 10px;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-price {
  position: absolute;
  top: 46%;
  z-index: 1;
  padding-left: 20px;
  color: #fff;
  font-size: 14px;
  opacity: .8;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-content {
  background: #fff;
  padding: 20px 10px 0;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-content .body-content-title {
  font-size: 14px;
  color: lightgreen;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-content .body-content-location {
  font-size: 12px;
  font-weight: 500px;
  opacity: .8;
  margin-top: 5px;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-content .body-content-location i {
  font-size: 13px;
  margin-right: 3px;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-content .body-content-details {
  margin-top: 25px;
}

.feature .feature-body .feature-container .feature-container-body .house-body .body-content .body-content-details .info {
  border-right: 1px solid gray;
  margin: 10px 0;
  font-size: 12px;
  opacity: .8;
}

.sell-body {
  position: relative;
  padding: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../images/slider/slider1.jpg");
  background-attachment: fixed;
}

.sell-body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.sell-body .body-container {
  position: relative;
  z-index: 1;
}

.sell-body .body-container .sell-body-left {
  font-size: 40px;
  color: #fff;
  opacity: .9;
}

.sell-body .body-container .sell-body-left span {
  color: lightgreen;
}

.sell-body .body-container .sell-body-right a {
  width: 150px;
  height: 50px;
  border-radius: 20px 0;
  line-height: 50px;
  display: block;
  margin-top: 50px;
  background: #fff;
  border: 1px solid lightgreen;
  color: lightgreen;
  transition: all .3s ease-in-out;
}

.sell-body .body-container .sell-body-right a:hover {
  background: transparent;
  color: #fff;
}

.testmonials {
  padding: 100px 0;
  text-align: center;
}

.testmonials .testmoni-body h3 {
  font-size: 18px;
  font-weight: 400;
}

.testmonials .testmoni-body h3 span {
  color: limegreen;
}

.testmonials .testmoni-body .body-content {
  position: relative;
  margin-top: 150px;
  background: #fff;
  box-shadow: 2px 21px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 60px;
}

.testmonials .testmoni-body .body-content .content-image {
  position: absolute;
  top: -20%;
  left: 10%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid limegreen;
  transition: all .3s ease-in-out;
}

.testmonials .testmoni-body .body-content .content-image:hover {
  filter: grayscale(0.8);
}

.testmonials .testmoni-body .body-content .content-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.testmonials .testmoni-body .body-content .content-qoute {
  text-align: right;
}

.testmonials .testmoni-body .body-content .content-qoute i {
  font-size: 35px;
  color: limegreen;
}

.testmonials .testmoni-body .body-content .content-name {
  text-align: left;
  font-size: 13px;
  margin-top: 15px;
}

.testmonials .testmoni-body .body-content .content-name span {
  opacity: .7;
}

.testmonials .testmoni-body .body-content .content-details {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  opacity: .7;
}

.testmonials .owl-dots {
  margin-top: 50px;
}

.testmonials .owl-dots button {
  transition: all .3s ease-in-out;
  background: gray !important;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  outline: 0;
  margin-right: 15px;
}

.testmonials .owl-dots button.active span, .testmonials .owl-dots button:hover span {
  background-color: limegreen !important;
}

.testmonials .owl-dots button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.achivement {
  text-align: center;
  background: #fff;
  padding: 60px 0;
}

.achivement .achivement-content {
  margin-top: 20px;
}

.achivement .achivement-content h3 {
  font-size: 25px;
  padding: 40px;
  font-weight: 400;
  text-align: left;
}

.achivement .achivement-content h3 span {
  color: limegreen;
  text-transform: capitalize;
}

.achivement .achivement-content p {
  text-align: left;
  font-size: 12px;
  opacity: 0.8;
  padding: 0 50px;
}

.achivement .achivement-content .achivement-counter {
  margin-top: 60px;
}

.achivement .achivement-content .achivement-counter .counter-content .counter-content-count {
  font-size: 25px;
  color: limegreen;
}

.achivement .achivement-content .achivement-counter .counter-content .counter-content-title {
  margin-top: 5px;
  font-size: 14px;
}

.achivement .achivement-exper {
  align-self: center;
  width: 200px;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}

.achivement .achivement-exper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.achivement .achivement-exper .content {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.achivement .achivement-exper .content p {
  margin-top: 90px;
}

.achivement .achivement-exper .content p:first-child {
  font-size: 55px;
}

.achivement .achivement-exper .content p:last-child {
  font-size: 12px;
  font-weight: 600;
  margin-top: 0;
  padding-left: 10px;
  opacity: .8;
  text-align: left;
  text-transform: uppercase;
}

.partners_content {
  text-align: center;
  padding: 60px 0;
}

.partners_content h3 {
  font-size: 18px;
  font-weight: 400;
}

.partners_content h3 span {
  color: limegreen;
}

.partners_content .our-partenrs {
  margin-top: 80px;
}

.partners_content .our-partenrs .partners_content_image {
  width: 150px;
  height: 100px;
}

.fancybox-content {
  width: 30%;
}

.fancybox-content .content-body {
  font-size: 14px;
  opacity: .8;
  text-align: center;
}
