.page_banner {
  position: relative;
  width: 100%;
  height: 350px;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.page_banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.page_banner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.page_banner .page-content {
  position: relative;
  z-index: 1;
  margin-top: 150px;
}

.page_banner .page-content h3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.page_banner .page-content ul {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

.page_banner .page-content ul li {
  display: inline-block;
}

.page_banner .page-content ul li a {
  color: #fff;
  padding-right: 10px;
  opacity: 0.7;
}

.page_banner .page-content ul li a:hover {
  opacity: 1;
}

.page_about_us_video {
  padding: 60px 0 0;
  white-space: normal;
}

.page_about_us_video .about_us_video_content .about_us_left {
  margin-top: 10px;
}

.page_about_us_video .about_us_video_content .about_us_left h2 {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
}

.page_about_us_video .about_us_video_content .about_us_left h2 span:first-child {
  color: green;
}

.page_about_us_video .about_us_video_content .about_us_left p {
  margin-top: 20px;
  font-size: 13px;
  opacity: 0.8;
}

.page_about_us_video .about_us_video_content .about_us_right {
  position: relative;
  margin-bottom: 60px;
  background: url(/images/slider2.jpg?d663c6e797478e87a7b36a94c19a1107);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
  text-align: center;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
}

.page_about_us_video .about_us_video_content .about_us_right a {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 10px 25px 0 green;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 45px;
}

.page_about_us_video .about_us_video_content .about_us_right a::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: green;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

.page_about_us_video .about_us_video_content .about_us_right a::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: green;
  border-radius: 50%;
  transition: all 200ms;
}

.page_about_us_video .about_us_video_content .about_us_right a i {
  color: #fff;
  margin-left: 5px;
}

@-webkit-keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.page_about_us_video .about_us_video_content .about_us_right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(98, 97, 138, 0.55);
}

.sell-body {
  position: relative;
  padding: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/slider1.jpg?f662a7562ad4327f11559d4c5a46ad8e);
  background-attachment: fixed;
}

.sell-body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.sell-body .body-container {
  text-align: center;
  position: relative;
  z-index: 1;
}

.sell-body .body-container .sell-body-left {
  font-size: 40px;
  color: #fff;
  opacity: 0.9;
}

.sell-body .body-container .sell-body-left span {
  color: lightgreen;
}

.sell-body .body-container .sell-body-right a {
  margin: auto;
  margin-top: 50px;
  width: 150px;
  height: 50px;
  border-radius: 20px 0;
  line-height: 50px;
  display: block;
  margin-top: 50px;
  background: #fff;
  border: 1px solid lightgreen;
  color: lightgreen;
  transition: all 0.3s ease-in-out;
}

.sell-body .body-container .sell-body-right a:hover {
  background: transparent;
  color: #fff;
}

.mission_content {
  background: #f1f0f0;
  padding: 100px 0 60px;
}

.mission_content .mission_content_image {
  position: relative;
  margin-top: 20px;
  min-height: 200px;
  overflow: hidden;
  border-radius: 20px 0;
}

.mission_content .mission_content_image img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.mission_content .mission_content_image::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 31, 94, 0.55);
  opacity: 0.8;
}

.mission_content .mission_content_details {
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 60px 40px 40px;
}

.mission_content .mission_content_details h2 {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 10px 0;
  text-align: center;
}

.mission_content .mission_content_details h2 span:last-child {
  color: green;
}

.mission_content .mission_content_details p {
  margin-top: 40px;
  font-size: 13px;
  opacity: 0.8;
  text-align: center;
}

.meet_team {
  padding: 50px 0;
  background-color: #fff;
  position: relative;
}

.meet_team .meet_team_header {
  font-size: 19px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 30px 0;
  text-align: center;
}

.meet_team .meet_team_header span {
  color: green;
  padding: 0 5px;
  text-transform: capitalize;
}

.meet_team .instr_body {
  height: auto;
  margin-top: 60px;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  padding: 40px 10px;
  border-radius: 20px 0;
  transition: all 0.2s ease-in;
  background: #f1f0f0;
}

.meet_team .instr_body .instr_image {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid green;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.meet_team .instr_body .instr_image:hover .overlay_social a {
  height: 50%;
}

.meet_team .instr_body .instr_image img {
  background-size: cover;
  width: 100%;
  min-height: 80px;
}

.meet_team .instr_body .instr_image .overlay_social a {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(125, 214, 121, 0.57);
  width: 100%;
  height: 0%;
  text-align: center;
  line-height: 46px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  color: #fff;
}

.meet_team .instr_body .instr_name {
  padding: 20px 0 10px;
  color: green;
  line-height: normal;
}

.meet_team .instr_body .instr_title {
  font-size: 13px;
  color: gray;
  line-height: normal;
}

.achivement {
  text-align: center;
  background: #f5f7f6;
  padding: 60px 0;
}

.achivement .achivement-content {
  margin-top: 20px;
}

.achivement .achivement-content h3 {
  font-size: 25px;
  padding: 40px;
  font-weight: 400;
  text-align: left;
}

.achivement .achivement-content h3 span {
  color: green;
  text-transform: capitalize;
}

.achivement .achivement-content p {
  text-align: left;
  font-size: 12px;
  opacity: 0.8;
  padding: 0 50px;
}

.achivement .achivement-content .achivement-counter {
  margin-top: 60px;
}

.achivement .achivement-content .achivement-counter .counter-content .counter-content-count {
  font-size: 25px;
  color: green;
}

.achivement .achivement-content .achivement-counter .counter-content .counter-content-title {
  margin-top: 5px;
  font-size: 14px;
}

.achivement .achivement-exper {
  position: relative;
  z-index: 1;
  margin-right: -30px;
}

.achivement .achivement-exper::after {
  position: absolute;
  border: 10px solid #EBEBEB;
  left: 0;
  bottom: 0;
  width: 100%;
  content: "";
  height: 100%;
  z-index: -1;
}

.achivement .achivement-exper img {
  max-width: 95%;
  transition: all 0.3s ease-out 0s;
  height: 300px;
  padding: 12px 0;
  box-shadow: 2px 21px 10px 0px rgba(0, 0, 0, 0.1);
}

.partners_content {
  text-align: center;
  padding: 60px 0;
}

.partners_content h3 {
  font-size: 18px;
  font-weight: 400;
}

.partners_content h3 span {
  color: green;
}

.partners_content .our-partenrs {
  margin-top: 80px;
}

.partners_content .our-partenrs .partners_content_image {
  width: 150px;
  height: 100px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.content p {
  margin-top: 90px;
}

.content p:first-child {
  font-size: 55px;
}

.content p:last-child {
  font-size: 12px;
  font-weight: 600;
  margin-top: 0;
  padding-left: 10px;
  opacity: 0.8;
  text-align: left;
  text-transform: uppercase;
}

.partners_content {
  text-align: center;
  padding: 60px 0;
}

.partners_content h3 {
  font-size: 18px;
  font-weight: 400;
}

.partners_content h3 span {
  color: green;
}

.partners_content .our-partenrs {
  margin-top: 80px;
}

.partners_content .our-partenrs .partners_content_image {
  width: 150px;
  height: 100px;
}

.our-partenrs {
  margin-top: 80px;
}

.our-partenrs .partners_content_image {
  width: 150px;
  height: 100px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.content p {
  margin-top: 90px;
}

.content p:first-child {
  font-size: 55px;
}

.content p:last-child {
  font-size: 12px;
  font-weight: 600;
  margin-top: 0;
  padding-left: 10px;
  opacity: 0.8;
  text-align: left;
  text-transform: uppercase;
}

.partners_content {
  text-align: center;
  padding: 60px 0;
}

.partners_content h3 {
  font-size: 18px;
  font-weight: 400;
}

.partners_content h3 span {
  color: green;
}

.partners_content .our-partenrs {
  margin-top: 80px;
}

.partners_content .our-partenrs .partners_content_image {
  width: 150px;
  height: 100px;
}

.fancybox-content {
  width: 30%;
  text-align: center;
}

.fancybox-content .content-body {
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
}

