.page_banner {
  position: relative;
  width: 100%;
  height: 350px;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.page_banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.page_banner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.page_banner .page-content {
  position: relative;
  z-index: 1;
  margin-top: 150px;
}

.page_banner .page-content h3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.page_banner .page-content ul {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

.page_banner .page-content ul li {
  display: inline-block;
}

.page_banner .page-content ul li a {
  color: #fff;
  padding-right: 10px;
  opacity: 0.7;
}

.page_banner .page-content ul li a:hover {
  opacity: 1;
}

.contact_content {
  padding: 80px 0;
}

.contact_content .contact_content_left .contact-info {
  margin-bottom: 10px;
}

.contact_content .contact_content_left .contact-info li {
  list-style: none;
  margin-bottom: 23px;
}

.contact_content .contact_content_left .contact-info li .icon-box,
.contact_content .contact_content_left .contact-info li .content-box {
  display: table-cell;
  vertical-align: top;
}

.contact_content .contact_content_left .contact-info li .icon-box .inner,
.contact_content .contact_content_left .contact-info li .content-box .inner {
  width: 50px;
  height: 50px;
  background: green;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  margin-right: 25px;
  transition: transform 0.3s ease-in-out;
}

.contact_content .contact_content_left .contact-info li .icon-box h4,
.contact_content .contact_content_left .contact-info li .content-box h4 {
  margin: 0;
  font-size: 15px;
  text-transform: capitalize;
  color: green;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact_content .contact_content_left .contact-info li .icon-box p,
.contact_content .contact_content_left .contact-info li .content-box p {
  color: #9C9C9C;
  line-height: 26px;
  font-size: 13px;
}

.contact_content .contact_content_left .social_items {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.contact_content .contact_content_left .social_items li {
  width: 40px;
  height: 40px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.contact_content .contact_content_left .social_items li:hover {
  transform: scale(1.1);
}

.contact_content .contact_content_left .social_items li a {
  color: #fff;
  display: block;
}

.contact_content .contact_content_right form .group-input {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 40px;
}

.contact_content .contact_content_right form .group-input input {
  width: 100%;
  height: 100%;
  border: 1px solid green;
  outline: none;
  font-size: 14px;
  opacity: 0.8;
  padding-left: 60px;
  border-radius: 20px;
}

.contact_content .contact_content_right form .group-input i {
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  background: green;
  color: #fff;
}

.contact_content .contact_content_right form .message_content textarea {
  margin-top: 40px;
  width: 100%;
  height: 220px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 50px;
  border: 1px solid green;
  outline: none;
  padding-left: 20px;
  margin-bottom: 20px;
}

.contact_content .contact_content_right form button {
  padding: 8px 70px;
  background: green;
  border-radius: 20px;
  outline: 0;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid green;
  transition: all 0.3s ease;
  cursor: pointer;
}

.contact_content .contact_content_right form button:hover {
  background: #fff;
  color: green;
}

.goolge_map_content {
  position: relative;
  width: 100%;
  height: 450px;
  background: gray;
}

.goolge_map_content #map {
  width: 100%;
  height: 100%;
}

.goolge_map_content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(102, 205, 52, 0.42);
}

